<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta content="width=device-width, initial-scale=1.0" name="viewport">
	<meta content="ie=edge" http-equiv="X-UA-Compatible">
	<link href="css/normalize.css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet">
	<title>HackU</title>
</head>
<body>
	<!-- <header class="header">
		<div class="container">
			<div class="content">
				<small class="header-logo">HackU</small> <button class="header-close">&times;</button>
			</div>
		</div>
	</header> -->
	<!-- <section class="welcome-window">
    <div class="container">
      <div class="box">
        <div class="content_style1">
          <h1 class="welcome-window-title">Добро пожаловать</h1>
          <h2 class="welcome-window-subtitle">
            Меня зовут Наденька! Сейчас я расскажу как работает эта платформа.
          </h2>
          <button class="welcome-window-btn">Давай</button>
          <a href="#" class="welcome-window-link">Пропустить</a>
        </div>
      </div>
    </div>
    </section> -->
	<!-- <section class="welcome-window">
    <div class="container">
      <div class="box">
        <div class="content_style2">
          <h1 class="welcome-window-title">Начнем</h1>
          <h2 class="welcome-window-subtitle">
            Предлагаю узнаьб друг друга получше:)<br>
            Мой психотип - НАСТАВНИК. А твой?<br>
            Давай сейчас пройдем мааааленький тест.
          </h2>
          <button class="welcome-window-btn">Давай</button>
          <a href="#" class="welcome-window-link">Пропустить</a>
        </div>
      </div>
    </div>
	</section> -->
	<!-- <section class="main">
		<div class="container">
			<div class="box">
				<div class="content">
					<div class="questions">
						<form id="questions" action="#" method="get">
							<div class="question question_active" id="question1">
								<h1 class="main-title">Как ты восстанавливаешься,<br>
								когда чувствуешь, что сил больше нет?</h1>
								<div class="main-btns">
									<input id="question1a" name="question1" value="question1a" type="radio">
									<label class="main-btn main-btn_test" for="question1a">Звоню друзьям, и вместе мы что-то придумываем</label>
									<input id="question1b" name="question1" value="question1b" type="radio">
									<label class="main-btn main-btn_test" for="question1b">Мне нужен покой: я читаю книги, смотрю любимые сериалы</label>
								</div>
							</div>
							<div class="question" id="question2">
								<h1 class="main-title">Какое описание тебе больше подходит?</h1>
								<div class="main-btns">
									<input id="question2a" name="question2" value="question2a" type="radio">
									<label class="main-btn main-btn_test" for="question2a">Я люблю жить моментом, здесь и сейчас, у меня очень хорошо развито ощущение реальности и я ориентирована на детали происходящег</label>
									<input id="question2b" name="question2" value="question2b" type="radio">
									<label class="main-btn main-btn_test" for="question2b">Я обожаю мечтать, придумывать что-то новое. Я живу будущими проектам</label>
								</div>
							</div>
							<div class="question" id="question3">
								<h1 class="main-title">Когда тебе нужно принять важное решение (выбрать университет или расстаться с парнем), чем ты руководствуешься?</h1>
								<div class="main-btns">
									<input id="question3a" name="question3" value="question3a" type="radio">
									<label class="main-btn main-btn_test" for="question3a">Я стараюсь думать головой. В таких вопросах важна логика</label>
									<input id="question3b" name="question3" value="question3b" type="radio">
									<label class="main-btn main-btn_test" for="question3b">Я учусь слушать сердце. Если умеешь прислушиваться к своим эмоциям, то принимаешь правильные решения</label>
								</div>
							</div>
							<div class="question" id="question4">
								<h1 class="main-title">Когда у тебя что-то запланировано (например, день рождения подруги), ты:</h1>
								<div class="main-btns">
									<input id="question4a" name="question4" value="question4a" type="radio">
									<label class="main-btn main-btn_test" for="question4a">Заранее продумываю детали, мне нужен четкий план</label>
									<input id="question4b" name="question4" value="question4b" type="radio">
									<label class="main-btn main-btn_test" for="question4b">Я предпочитаю ориентироваться по ситуации, в экстремальных условиях ко мне приходят мои лучшие идеи</label>
								</div>
							</div>
						</form>
					</div>
					<div class="progress">
						<div class="progress-scale progress-scale_active" id="progress-scale1"></div>
						<div class="progress-scale" id="progress-scale2"></div>
						<div class="progress-scale" id="progress-scale3"></div>
						<div class="progress-scale" id="progress-scale4"></div>
					</div>
				</div>
			</div>
		</div>
	</section> -->
	
	<!-- <section class="greeting">
		<div class="container">
			<div class="content">
				<h1 class="greeting-title">Приятно познакомиться, ВДОХНОВИТЕЛЬ!</h1>
				<p class="greeting-descr">О своем психотипе можешь узнать у себя в личном кабинете.</p>
				<a class="greeting-btn" href="#">Личный кабинет</a>
			</div>
		</div>
	</section> -->
	
	<div class="profile-menu">
		<ul class="profile-menu_list">
			<li>Наденька</li>
			<li><a class="icon1" href="#">Тесты</a></li>
			<li><a class="icon2" href="#">Прогресс</a></li>
			<li class="active"><a class="icon3" href="#">Профиль</a></li>
			<li><a class="icon4" href="#">Профиль</a></li>
			<li><a class="icon5" href="#">Настройки</a></li>
		</ul>
	</div>

	<section class="profile">
		<div class="profile-header">
			<div class="container">
				<div class="content">
					<a class="profile-header_link" href="#">Найти лекцию</a>
					
				</div>
			</div>
		</div>
		<div class="profile-main">
			<div class="container">
				<div class="content">
					<small class="profile-main_position">БУХГАЛТЕР</small>
					<small class="profile-main_status">вдохновитель</small>
					<h1 class="profile-main_user">Ковалева Анастасия Викторовна</h1>
					<ul class="profile-main_user__characteristics">
						<li>Санкт-Петербург</li>
						<li>25 ФЕВРАЛЯ 1994</li>
						<li>Стаж 3 года</li>
					</ul>
					<p class="profile-main_user__descr">
						Было бы так здорово увидеть тут Вашу характеристику с описанием должностных обязанностей и личными качествами.
					</p>
					<button class="profile-main_btn">Оформить резюме</button>
				</div>
			</div>
		</div>

		<div class="profile-plan">
			<div class="container">
				<h2>Индивидуальный план развития</h2>
				<div class="profile-plan_items">
					<div class="profile-plan_item">Менеджер продукта</div>
					<div class="profile-plan_item">Тимлид</div>
					<div class="profile-plan_item">Тестировщик</div>
					<div class="profile-plan_item">+</div>
				</div>
			</div>
		</div>

		<div class="profile-bottom">
			<div class="container">
				<div class="content">
					<div class="profile-bottom_tasks">
							<h2>Менеджер ПРОДУКТА</h2>
							<h3>Профессиональные навыки</h3>
							<ul>
								<li>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatum, facilis?</li>
								<li>Voluptatibus magnam reprehenderit fugit eligendi nisi beatae enim placeat obcaecati.</li>
								<li>Voluptatem itaque reiciendis illo soluta tempore distinctio nihil! Impedit, minus!</li>
								<li class="active">Magni doloribus quas voluptate, voluptas ab officiis dicta nesciunt quam?</li>
								<li>Unde assumenda reiciendis a quod, rem nisi eum quas? Numquam!</li>
								<li>Obcaecati mollitia asperiores distinctio, in reiciendis quia maxime omnis voluptatem?</li>
								<li>Pariatur ex harum quidem temporibus dolorum a commodi provident sed?</li>
								<li>Corporis laborum rem vel est, eius voluptate. Unde, similique blanditiis!</li>
								<li>Doloribus, eveniet quam eum rerum laborum asperiores eos cumque quisquam.</li>
								<li>Tempore blanditiis facilis velit doloremque neque nobis asperiores corporis quod?</li>
								<li>Doloremque deleniti soluta tempora blanditiis, reiciendis maxime pariatur nam eum.</li>
								<li>Explicabo commodi perferendis aspernatur voluptate ipsam doloribus nam impedit dolorem?</li>
							</ul>
						</div>
						<div class="profile-bottom_ads">
							<h2>
								ВСТУПИТЕ В ГРУППУ
								<small>МЕНЕДЖЕРОВ ПРОДУКТА</small>
							</h2>
							<div class="profile-bottom_ads__baner"></div>
						</div>
				</div>
			</div>
		</div>
	</section>

	<script src="js/jqvery-min.js"></script> 
	<script src="js/main.js"></script>
</body>
</html>