
<section class="main">
	<div class="container">
		<div class="box">
			<div class="content">
				<div class="questions">
					<form id="questions" action="#" method="get">
						<div class="question question_active" id="question1">
							<h1 class="main-title">Как ты восстанавливаешься,<br>
							когда чувствуешь, что сил больше нет?</h1>
							<div class="main-btns">
								<input id="question1a" name="question1" value="question1a" type="radio">
								<label class="main-btn main-btn_test" for="question1a">Звоню друзьям, и вместе мы что-то придумываем</label>
								<input id="question1b" name="question1" value="question1b" type="radio">
								<label class="main-btn main-btn_test" for="question1b">Мне нужен покой: я читаю книги, смотрю любимые сериалы</label>
							</div>
						</div>
						<div class="question" id="question2">
							<h1 class="main-title">Какое описание тебе больше подходит?</h1>
							<div class="main-btns">
								<input id="question2a" name="question2" value="question2a" type="radio">
								<label class="main-btn main-btn_test" for="question2a">Я люблю жить моментом, здесь и сейчас, у меня очень хорошо развито ощущение реальности и я ориентирована на детали происходящег</label>
								<input id="question2b" name="question2" value="question2b" type="radio">
								<label class="main-btn main-btn_test" for="question2b">Я обожаю мечтать, придумывать что-то новое. Я живу будущими проектам</label>
							</div>
						</div>
						<div class="question" id="question3">
							<h1 class="main-title">Когда тебе нужно принять важное решение (выбрать университет или расстаться с парнем), чем ты руководствуешься?</h1>
							<div class="main-btns">
								<input id="question3a" name="question3" value="question3a" type="radio">
								<label class="main-btn main-btn_test" for="question3a">Я стараюсь думать головой. В таких вопросах важна логика</label>
								<input id="question3b" name="question3" value="question3b" type="radio">
								<label class="main-btn main-btn_test" for="question3b">Я учусь слушать сердце. Если умеешь прислушиваться к своим эмоциям, то принимаешь правильные решения</label>
							</div>
						</div>
						<div class="question" id="question4">
							<h1 class="main-title">Когда у тебя что-то запланировано (например, день рождения подруги), ты:</h1>
							<div class="main-btns">
								<input id="question4a" name="question4" value="question4a" type="radio">
								<label class="main-btn main-btn_test" for="question4a">Заранее продумываю детали, мне нужен четкий план</label>
								<input id="question4b" name="question4" value="question4b" type="radio">
								<label class="main-btn main-btn_test" for="question4b">Я предпочитаю ориентироваться по ситуации, в экстремальных условиях ко мне приходят мои лучшие идеи</label>
							</div>
						</div>
					</form>
				</div>
				<div class="progress">
					<div class="progress-scale progress-scale_active" id="progress-scale1"></div>
					<div class="progress-scale" id="progress-scale2"></div>
					<div class="progress-scale" id="progress-scale3"></div>
					<div class="progress-scale" id="progress-scale4"></div>
				</div>
			</div>
		</div>
	</div>
</section>
