{% extends "base.html" %}

{% block content %}
	{% if user in test.respondents.all %}
		<section class="greeting">
			<div class="container">
				<div class="content">
					<h1 class="greeting-title">Приятно познакомиться, {{ user.soul|upper }}!</h1>
					<p class="greeting-descr">О своем психотипе можешь узнать у себя в личном кабинете.</p>
					<a class="greeting-btn" href="/profile/">Личный кабинет</a>
				</div>
			</div>
		</section>
	{% else %}
    	<section class="main">
    		<div class="container">
    			<div class="box">
    				<div class="content">
    					<div class="questions">

    						<form id="questions" action="" method='post'>
    							{% csrf_token %}
    							{% for q in test.questions.all %}

	    							<div class="question {% if q.id == test.questions.all.0.id %}question_active{% endif %}" id="question{{ forloop.counter }}">
	    								<h1 class="main-title">{{ q.name }}</h1>
	    								{% with count=forloop.counter %}
	    								    
	    								<div class="main-btns">
	    									{% for a in q.answers.all %}
		    									<input id="question{{ count }}-{{ forloop.counter }}" name="{{ q.id }}" value="{{ a.name }}" type="radio">
		    									<label class="main-btn main-btn_test" for="question{{ count }}-{{ forloop.counter }}">{{ a.name }}</label>
	    									{% endfor %}

	    								</div>
	    								{% endwith %}

	    							</div>
    							{% endfor %}
    							<button type="submit">send</button>
    						</form>
    					</div>
    					<div class="progress">
    						{% for q in test.questions.all %}
	    						<div class="progress-scale {% if q.id == test.questions.all.0.id %}progress-scale_active{% endif %}" id="progress-scale{{ forloop.counter }}"></div>
	    					{% endfor %}
    					</div>
    				</div>
    			</div>
    		</div>
    	</section>
	{% endif %}

    	
{% endblock content %}